body{
    background-color: black;
    min-height: 100vh; 
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
 h1{
   padding-top: 20rem;
   justify-content: center; 
   text-align: center;
 }